meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Taschenrechner
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css")
section.section.has-background-grey
  .container
    p(style="Color:white;") Ergebniss
    h1#display.box.has-background-white-bis.
      
      
    p(style="Color:white;") zwischenergebnis
    h2#tempval.box.has-background-white-bis
  .btn
    .columns.mt-6
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-dark.has-text-white.is-rounded.
            
            ±
            
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-dark.has-text-white.is-rounded.
            
            %
            
      .column
        p.control
          button#test.button.is-large.is-fullwidth.has-background-dark.has-text-white.is-rounded.
            
            C
            
      .column.is-2
        p.control
          button.button.is-large.is-danger.is-fullwidth.is-rounded.
            
            AC
            
    .columns
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-grey-dark.has-text-white.is-rounded.
            
            7
            
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-grey-dark.has-text-white.is-rounded.
            
            8
            
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-grey-dark.has-text-white.is-rounded.
            
            9
            
      .column.is-2
        p.control
          button.button.is-large.is-dark.is-fullwidth.is-rounded.
            
            ÷
            
    .columns
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-grey-dark.has-text-white.is-rounded.
            
            4
            
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-grey-dark.has-text-white.is-rounded.
            
            5
            
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-grey-dark.has-text-white.is-rounded.
            
            6
            
      .column.is-2
        p.control
          button.button.is-large.is-dark.is-fullwidth.is-rounded.
            
            *
            
    .columns
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-grey-dark.has-text-white.is-rounded.
            
            1
            
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-grey-dark.has-text-white.is-rounded.
            
            2
            
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-grey-dark.has-text-white.is-rounded.
            
            3
            
      .column.is-2
        p.control
          button.button.is-large.is-dark.is-fullwidth.is-rounded.
            
            -
            
    .columns
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-grey-dark.has-text-white.is-rounded.
            
            0
            
      .column
        p.control
          button.button.is-large.is-fullwidth.has-background-grey-dark.has-text-white.is-rounded.
            
            .
            
      .column
        p.control
          button.button.is-large.is-success.is-fullwidth.is-rounded.
            
            =
            
      .column.is-2
        p.control
          button.button.is-large.is-dark.is-fullwidth.is-rounded.is-focused.
            
            +
            
  footer.footer.has-background-grey.has-text-white
    .content.has-text-centered
      p
        | 
Taschenrechner by 
        a(href="https://github.com/Hesat-R") Hesat Redzepi
        | . Opensource!

script(src="/js/calculate.js")